<div class="tarea" id="oportunidad_{{ oportunidad.id }}">
  <h3>{{ oportunidad.accountName }}</h3>
  <p class="tarea__precio texto_primary">{{ oportunidad.currency }} {{ oportunidad.baseAmount | number:''}}</p>
  <div class="tarea__servicio-trabajador">
    <p class="tarea__servicio">{{ oportunidad.serviceName }}</p>
    <div class="circulo background-primary">
      {{ extraerIniciales(oportunidad.salesAgentName) }}
    </div>
  </div>

  <div class="tarea__fecha-boton">
    <p class="tarea__fecha">{{ oportunidad.createdAt | date: 'dd/MM/yyyy' }}</p>
    <button mat-icon-button [matMenuTriggerFor]="menu1" aria-label="Toggle menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <mat-menu #menu1="matMenu" xPosition="before">
    <button mat-menu-item>
      Reasignar
    </button>
    <button mat-menu-item>Eliminar</button>
  </mat-menu>
</div>
